
header {
    background-color:  rgb(252, 249, 246);
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #3A4D39;
    text-decoration: none;
  }
  
  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 0 auto; 
  }
  

  .nav-branding {
    font-size: 2rem; 
  }

  .nav-link {
    transition: 0.7s ease;
  }

  .nav-link:hover {
    color: antiquewhite;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;
      cursor: pointer; /* Add cursor pointer for better UX */
    }
  
    .hamburger .bar {
      background-color: #333; /* Add background color to the bars */
      height: 4px;
      width: 30px;
      margin: 6px 0;
      transition: 0.4s; /* Add transition for a smooth effect */
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }

    .black-line {
      display: block;
      width: 100%;
      height: 3px;
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      background-color: black;
      transition: 0.3s;
    }
  
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: rgb(252, 249, 246);
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .nav-item {
      margin: 16px 0;
    }
  
    .nav-menu.active {
      left: 0;
    }
    .black-line.active {
      left: 0;
    }
  }
  